<ul>
{% for month,items in archives_data %}
    <li>
    	<a href="{{ base_url }}/{{ config.plugins.archives.taxonomy_names.month }}{{ config.system.param_sep }}{{ month|date('M_Y')|lower|e('url') }}">
        {{ month }}
        </a>
        {% if archives_show_count %}
        ({{ items|length }})
        {% endif %}
    </li>
{% endfor %}
</ul>
