{% set prev_post = page.prevSibling %}
{% set next_post = page.nextSibling %}
{% if not (page.isFirst and page.isLast) %}
    <nav class="navigation post-navigation" role="navigation">
        <h2 class="screen-reader-text">{{ 'YOCTO.ACCESSIBILITY.POST_NAV'|t }}</h2>
        <div class="nav-links">
            {% if not page.isLast %}
                <div class="nav-previous">
                    <a href="{{ prev_post.url }}" rel="prev">
                        <span class="meta-nav" aria-hidden="true"> &lt; {{ 'YOCTO.BLOG_POST.PREVIOUS_POST'|t }}</span>
                        <span class="screen-reader-text">{{ 'YOCTO.ACCESSIBILITY.PREVIOUS_POST'|t }}</span>
                        <span class="post-title">{{ prev_post.title }}</span>
                    </a>
                </div>
            {% endif %}
            {% if not page.isFirst %}
                <div class="nav-next">
                    <a href="{{ next_post.url }}" rel="next">
                        <span class="meta-nav" aria-hidden="true">{{ 'YOCTO.BLOG_POST.NEXT_POST'|t }} &gt; </span>
                        <span class="screen-reader-text">{{ 'YOCTO.ACCESSIBILITY.NEXT_POST'|t }}</span>
                        <span class="post-title">{{ next_post.title }}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endif %}
